
/* DISSET Aimé
   Evaluation d'entraînement : Dynamiser vos sites web avec Javascript
   12/06/2022
*/


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');


 body {
  font-family: 'Lato', cursive;
  

  
 }





 /* classe d'affichage joueur 1 et 2*/
  .afficheJoueur {
      width: 100%;
      text-align: center;
    
    }
 /* affichage du joueur quand ce dernier n'a pas la main*/
  .afficheJoueurFalse {
    font-size:60px; 
    font-weight : 100; 
    color:black; 
    font-family:'Lato',cursive;
    vertical-align: middle;
  }

/*affichage du joueur quand il a la main */
  .afficheJoueurTrue {
          font-size:60px; 
          font-weight : 900; 
          color:black; 
          font-family:'Lato',cursive;
          vertical-align: middle;
  }
  /* propriétés de la puce quand le joueur a la main */
  .puce {
    color : red; 
    font-weight: 900; 
    vertical-align:middle;
  }
  


/* classe du ROLL DICE */
  .roll {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-family: 'Lato', cursive;
     margin-top : 10%;
  }


   /* Class permettant de centrer une div dans une div pour les current score*/
  .current {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 100px;
    background-color: red;
    padding-top : 2%;
    vertical-align: middle;
}

.currentText {
  color : white; 
  text-align : center; 
  font-family: 'Lato',cursive; 
  font-size: 25px;
  font-weight :bolder;
}

/* classe du HOLD */
  .holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-family: 'Lato', cursive;
    margin-top : 10%;
  }


/* Row du milieu afin de définir une marge de bas */
.rowMiddle {
  margin-bottom : 100px;

}


  .newgame {
    width: 100%;
    font-size : 30px;
    font-family: 'Lato', cursive;
    
  }

  .deIcon {
    color : red;
    padding-top : 6%;
  }
  .globalScore {
    font-family: 'Lato', cursive;
    font-size : 90px;
    color : red;
  }

  .win {
    animation : animationWinner ease 3.5s;
    font-size : 40px;
    font-weight: 900;
    font-family: 'Lato', cursive;
    color : red;


  }

 

  .roll:hover {
    cursor: pointer;
  }

  .holder:hover {
    cursor: pointer;
  }

  .newgame:hover {
    cursor: pointer;
  }

  @keyframes animationWinner {
    0%{
      opacity : 0;
      transform : translateX(350px);
  }
  100%{
      opacity : 1;
      transform : translateX(0px);
  }
}
/* break point pour les téléphones portables et petit écran afin d'améliorer l'utilisation */
@media(max-width : 992px){
     .currentText {
      font-size: 50px;
     }
     .afficheJoueurFalse {
      font-size: 50px;
     }
     .afficheJoueurTrue {
      font-size : 50px;
     }
        /* Class permettant de centrer une div dans une div pour les current score*/
  .current {

    width: 200px;
    height: 150px;

}


}